.container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100vh;
  background-color: #222;
}

.signal {
  display: flex;
  justify-content: space-between;
}

.signal-wrap {
  width: 68px;
  height: 68px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.green {
  background-color: #2e7d32;
  width: 60px;
  height: 60px;
  border-radius: 50%;
}
.red {
  background-color: #d32f2f;
  width: 60px;
  height: 60px;
  border-radius: 50%;
}

.button {
  width: 68px;
  height: 68px;
}